@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

header {
    background: #BBBBBB;
    padding: 20px 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header_container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: auto;
    padding: 0 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
    justify-content: center;
    padding: 50px 0;
}

.produtos li {
    text-align: center;
    width: 20em;
    vertical-align: top;
    padding: 30px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #000000;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;

}

.produtos-descricao {
    font-size: 18px;
}

.produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

.form_container {
    width: 75%;
    margin: 0 auto;
}

form {
    margin: 40px 0px;    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 13px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px -2px #000000;
    transition: .5s all;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.05);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/* css da pagina inicial */

.banner {
    background-color: rgba(47, 47, 47);
    box-shadow: inset 1px 2px 13px 4px rgba(0, 0, 0, 0.452);
    color: white;
    width: 100%;
    height: 55vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../imagens/banner_1300.jpg);
}

.titulo_principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left; /*limpa os efeitos do float para não afetar o resto da pagina*/
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 75%;
    margin: 0 auto;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    margin: 0 20px 20px 0;
    float: left; /*descola a imagem da pagina porém deixa a sua sombra delimitando o espaço em volta*/
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa_conteudo {
    width: 75%;
    margin: 0 auto;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios {
    padding: 5em 0;
    background:#888888;
}

.conteudo_beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista_beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens::before{
    content: "﹡ ";
}

.itens:nth-child(2n) {
    font-weight: bold;
}

.imagem_beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px 5px  #00000097;
}

.imagem_beneficios:hover {
    opacity: 0.8;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 680px) {
    .header_container{
        flex-direction: column;
    }

    .lista_beneficios, .conteudo_beneficios, .imagem_beneficios, .video{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo_beneficios, .mapa_conteudo, .video, .produtos, .form_container {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        display: flex;
        justify-content: space-around;
    }
    
    nav a {
        font-size: 1.2em;
        
    }

    .banner {
        height: 30vh;
    }

    .lista_beneficios, .imagem_beneficios {
        width: 100%;
        margin-bottom: 20px;
    }

    .produtos li {
        margin: 10px;
        width: 95%;
    }

    .input-padrao {
        display: block;
        margin: 0 0 20px 5px;
        padding: 10px 25px;
        width: 78%;
    }

    form label, form legend, .checkbox {
        margin: 0 0 20px 5px;
        padding: 10px 0;
        width: 78%;
    }

    fieldset legend, .enviar, .principal, .conteudo_beneficios, .video {
        margin: 0 5px;
    }

    select {
        margin: 0 5px 20px;
    }

    table {
        margin: 20px 0 40px 5px;
    }

}